*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
# Ignorowanie pliku z kluczami API
app/google-services.json

# Ignorowanie pliku zawierającego hasła
app/src/main/res/values/secrets.xml

# Ignorowanie katalogu .idea (konfiguracja Android Studio)
.idea/
